<app-navbar-auth-pages buttonLabel="sign in" fxHide.lt-md=""></app-navbar-auth-pages>

<section fxLayout="column" fxLayoutAlign="center stretch" class="form-container mb-5">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center stretch">
    <ng-container *ngIf="activeStep.position < steps[steps.length - 1].position">
      <app-single-input-form
        [caption]="activeStep.caption"
        [formLabel]="activeStep.formLabel"
        [inputType]="activeStep.inputType"
        [buttonText]="activeStep.buttonText"
        [previousButtonHidden]="activeStep.position === 1"
        (next)="handleNextAction($event)"
        (previous)="handlePrevAction($event)"
      ></app-single-input-form>
    </ng-container>
    <ng-container *ngIf="activeStep.position === steps[steps.length - 1].position">
      <app-setup-profile-form (onCancel)="cancelProfileSetup($event)"></app-setup-profile-form>
    </ng-container>
  </div>
</section>

<div class="fix-footer" fxHide.lt-md="">
  <app-footer></app-footer>
  <!--  <app-footer-mobile fxHide.gt-sm></app-footer-mobile>-->
</div>
