.form-container {
  width: 100%;
  min-height: 90vh;
  overflow-y: scroll;
}

.fix-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .form-container {
    min-height: 100vh;
  }
  .fix-footer {
    position: relative;
  }
}
