<nav class="nav-bar__mobile full-width">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="45%" class="p-0 m-0">
      <a routerLink="/"><img src="assets/images/Switch App 1-02.png" alt="app-logo" class="img-fluid"></a>
    </div>
    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="end center">
      <span class="nav-toggle__button" (click)="toggleExpandedState()">
        <img *ngIf="!isExpanded" src="assets/images/menu-btn.svg" alt="menu toggle" class="img-fluid">
        <img *ngIf="isExpanded" src="assets/images/menu-btn-close-svg.png" alt="menu toggle" class="img-fluid">
      </span>
    </div>
  </div>
</nav>
