$primary: #399ad7;
.sidenav {
  margin-top: 3.8rem;
  //background: white;
  //width: 200px;
  width: 100vw;
  padding: 0.5rem 0;
}

@media screen and (max-width: 374px) {
  .sidenav {
    margin-top: 3.4rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  .sidenav {
    margin-top: 3.8rem;
  }

}

.sidenav-button__link, .sign-out__link {
  //width: 100%;
  width: 70%;
  padding: .5rem;
  text-align: left;
  margin: 10px 0 0 10px;
  background-color: white;

  .mat-icon {
    margin-right: 0.8rem;
  }
}

.sign-out__link {
  color: #ff0b56;
}

.nav-active {
  color: $primary;
  border-left: 5px solid $primary;
}
