<div fxLayout="column" fxLayoutAlign="space-between stretch" class="sidenav background-dim">
  <ng-container *ngIf="!userLoggedIn; else dashboardLinks">
    <button mat-button tabindex="-1" class="sidenav-button__link" (click)="navigateToFragment()">How it works</button>
    <button mat-button tabindex="-1" class="sidenav-button__link" (click)="onClick('sign-in')">Sign In</button>
    <button mat-button tabindex="-1" class="sidenav-button__link" (click)="onClick('sign-up')">Sign Up</button>
  </ng-container>

  <ng-template #dashboardLinks>
    <button mat-button tabindex="-1"
            class="sidenav-button__link"
            [ngClass]="{'nav-active': currentPath === pagePaths.home}"
            (click)="navigateToPath('/dashboard')"><mat-icon>dashboard</mat-icon>Home</button>
    <button mat-button tabindex="-1"
            class="sidenav-button__link"
            [ngClass]="{'nav-active': currentPath === pagePaths.transactions}"
            (click)="navigateToPath('/dashboard/transactions')"><mat-icon>import_export</mat-icon>Transactions</button>
    <button mat-button tabindex="-1"
            class="sidenav-button__link"
            [ngClass]="{'nav-active': currentPath === pagePaths.activities}"
            (click)="navigateToPath('/dashboard/activities')"><mat-icon>history</mat-icon>Activities</button>
    <button mat-button tabindex="-1"
            class="sidenav-button__link"
            [ngClass]="{'nav-active': currentPath === pagePaths.settings}"
            (click)="navigateToPath('/dashboard/settings')"><mat-icon>settings</mat-icon>Settings</button>
    <button mat-button tabindex="-1"
            class="sidenav-button__link"
            [ngClass]="{'nav-active': currentPath === pagePaths.help}"
            (click)="navigateToPath('/dashboard/help')"><mat-icon>help_outline</mat-icon>Help</button>
    <button mat-button tabindex="-1"
            class="sign-out__link"
            (click)="logOut()"><mat-icon>logout</mat-icon>Sign out</button>

  </ng-template>
</div>
