<footer fxLayout="row" fxLayoutAlign="space-between center" class="app-footer pt-4 mb-2">
  <div fxFlex="10%">
    <img src="assets/images/Switch App black-02.png" class="img-fluid">
  </div>
  <div fxFlex="75%" fxLayout="row" fxLayoutAlign="space-between center">
    <button fxFlex="40%" mat-button>© 2021 Switch App - All rights reserved</button>
    <button fxFlex="20%" mat-button>Privacy Policy</button>
    <button fxFlex="20%" mat-button>Cookies Policy</button>
    <button fxFlex="20%" mat-button>About Us</button>
  </div>
  <div fxFlex="10%" fxLayout="row" fxLayoutAlign="end center">
    <span><img src="assets/images/Group 2639.svg" alt="twitter-link" class="social-link mr-2"></span>
    <span><img src="assets/images/Group 2641.svg" alt="instagram link" class="social-link mr-2"></span>
    <span><img src="assets/images/Group 2642.svg" alt="facebook link" class="social-link"></span>
  </div>
</footer>
