<nav class="nav-bar full-width">
  <div id="container-abs" fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="30%">
      <img src="assets/images/Switch App 1-02.png" alt="app-logo" class="img-fluid">
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <button mat-button class="nav-action-link" routerLink="." fragment="how_it_works">How it works</button>
      <button mat-button class="nav-action-link" routerLink="/sign-up">Get started</button>
      <button class="nav-action-button px-4"
              mat-button color="primary" routerLink="/sign-in">Sign in</button>
    </div>
  </div>
</nav>
