@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Light.otf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-RegularItalic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Medium.otf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Semibold.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-SemiboldItalic.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Extrabold.otf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-ExtraboldItalic.otf);
  font-style: italic;
  font-weight: 800;
}
