.hero-container {
  width: 100%;
  margin: 0;
  position: relative;
  min-height: 750px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/Group 2645@2x.png");
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;

  * {
    color: #ffffff;
    font-family: Gilroy, sans-serif;
  }
}

.hero-content {
  width: 35%;
  position: absolute;
  left: 11%;

  h2 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
    margin-top: 1.3rem;
    width: 80%;
  }
}

.hero-action-button {
  border-radius: 25px;
  background-color: rgba(57, 154, 215, .9);
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
  padding: 0.5rem 2.5rem;
}

@media screen and (max-width: 425px) {
  .hero-container {
    background-image: url("../../../assets/images/Group 2645@2x.png");
    min-height: 550px ;
    margin: 0;
    padding: 150px 0 0;
  }
  .hero-content {
    width: 100%;
    padding: 1.0rem;
    left: 0;
    h2 {
      font-size: 1.5rem;
    }
    p {
      width: 90%;
    }
  }
}
