<section fxLayout="column" fxLayoutAlign="center start" class="hero-container">
  <div fxFlex class="hero-content">
    <h2>Make Payments, transfer<br> and request money easily.</h2>
    <p>Seamless payments with no charges incurred, make transfer and
      request money from your friends and families securely, got you covered.
    </p>
    <button mat-button class="hero-action-button" routerLink="/sign-up">Get Started</button>
  </div>
</section>
