$primary: #399ad7;

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

@media screen and (max-width: 599px) {
  .search-field, .text-field {
    width: 80%;
    margin: 0 0 5px 0;
  }
}
