<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="3%" class="full-height px-3 dash-content__outlet">
  <div fxFlex="0 0 10%" fxFlex.lt-md
       fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="start start" fxLayoutAlign.lt-md="start stretch"
       fxLayoutGap.lt-md="0">
    <div fxFlex="30%" fxFlex.lt-md>
      <h2 class="dashboard-page__title">Activities</h2>
    </div>
  </div>

  <div fxFlex="0 0 10%" fxFlex.lt-md
       fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="start center" fxLayoutAlign.lt-md="start start">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="startDatePicker">
      <mat-datepicker-toggle matPrefix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>End</mat-label>
      <input matInput [matDatepicker]="endDatePicker">
      <mat-datepicker-toggle matPrefix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-field">
      <mat-label>Search</mat-label>
      <input matInput type="text">
      <mat-icon matPrefix>search_rounded</mat-icon>
    </mat-form-field>
  </div>

  <div fxFlex="1 1 80%" fxLayout="column" fxLayoutAlign="start stretch" class="full-width mt-2">
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="10px" class="dashboard-page__table">
      <h2 class="heading text-uppercase">Today</h2>
      <div class="body">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="table-item"> <!-- item container -->
          <div fxFlex="1 0 20%" fxFlex.lt-md="1 0 50%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> <!-- left items container -->
            <div fxFlex="10%" fxFlex.lt-md="30%">
              <img src="assets/images/avatar.png" alt="avatar image" class="table-item__avatar">
            </div>
            <div fxFlex="40%" fxFlex.lt-md="50%" fxLayout="column" fxLayoutAlign="space-between stretch">
              <span fxFlex="" class="table-item__caption">Card</span>
              <span fxFlex="" class="table-item__description">Switch Topup</span>
            </div>
          </div> <!-- left items container -->

          <div fxFlex="30%" fxFlex.lt-md="40%" fxLayout="row" fxLayoutAlign="end center"> <!-- right items container -->
            <span class="table-item_price">+ N3,000</span>
          </div> <!-- right items container -->
        </div> <!-- item container -->
        <div fxLayout="row" fxLayoutAlign="space-between center" class="table-item"> <!-- item container -->
          <div fxFlex="1 0 20%" fxFlex.lt-md="1 0 50%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> <!-- left items container -->
            <div fxFlex="10%" fxFlex.lt-md="30%">
              <img src="assets/images/avatar.png" alt="avatar image" class="table-item__avatar">
            </div>
            <div fxFlex="40%" fxFlex.lt-md="50%" fxLayout="column" fxLayoutAlign="space-between stretch">
              <span fxFlex="" class="table-item__caption">Card</span>
              <span fxFlex="" class="table-item__description">Switch Topup</span>
            </div>
          </div> <!-- left items container -->

          <div fxFlex="30%" fxFlex.lt-md="40%" fxLayout="row" fxLayoutAlign="end center"> <!-- right items container -->
            <span class="table-item_price">+ N3,000</span>
          </div> <!-- right items container -->
        </div> <!-- item container -->
        <div fxLayout="row" fxLayoutAlign="space-between center" class="table-item"> <!-- item container -->
          <div fxFlex="1 0 20%" fxFlex.lt-md="1 0 50%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> <!-- left items container -->
            <div fxFlex="10%" fxFlex.lt-md="30%">
              <img src="assets/images/avatar.png" alt="avatar image" class="table-item__avatar">
            </div>
            <div fxFlex="40%" fxFlex.lt-md="50%" fxLayout="column" fxLayoutAlign="space-between stretch">
              <span fxFlex="" class="table-item__caption">Card</span>
              <span fxFlex="" class="table-item__description">Switch Topup</span>
            </div>
          </div> <!-- left items container -->

          <div fxFlex="30%" fxFlex.lt-md="40%" fxLayout="row" fxLayoutAlign="end center"> <!-- right items container -->
            <span class="table-item_price">+ N3,000</span>
          </div> <!-- right items container -->
        </div> <!-- item container -->
      </div>
      <!--        <h2 class="heading text-uppercase">Last 7 Days</h2>-->
      <!--        <div class="body">-->
      <!--          <div fxLayout="row" fxLayoutAlign="space-between center"> &lt;!&ndash; item container &ndash;&gt;-->
      <!--            <div fxFlex="1 0 20%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> &lt;!&ndash; left items container &ndash;&gt;-->
      <!--              <div fxFlex="10%">-->
      <!--                <img src="assets/images/avatar.png" alt="avatar image" class="avatar">-->
      <!--              </div>-->
      <!--              <div fxFlex="40%" fxLayout="column" fxLayoutAlign="space-between stretch">-->
      <!--                <span fxFlex="" class="table-item__caption">Card</span>-->
      <!--                <span fxFlex="" class="table-item__description">Switch Topup</span>-->
      <!--              </div>-->
      <!--            </div> &lt;!&ndash; left items container &ndash;&gt;-->

      <!--            <div fxFlex="30%" fxLayout="row" fxLayoutAlign="end center"> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--              <span class="table-item_price">+ N3,000</span>-->
      <!--            </div> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--          </div> &lt;!&ndash; item container &ndash;&gt;-->
      <!--          <div fxLayout="row" fxLayoutAlign="space-between center"> &lt;!&ndash; item container &ndash;&gt;-->
      <!--            <div fxFlex="1 0 20%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> &lt;!&ndash; left items container &ndash;&gt;-->
      <!--              <div fxFlex="10%">-->
      <!--                <img src="assets/images/avatar.png" alt="avatar image" class="avatar">-->
      <!--              </div>-->
      <!--              <div fxFlex="40%" fxLayout="column" fxLayoutAlign="space-between stretch">-->
      <!--                <span fxFlex="" class="table-item__caption">Card</span>-->
      <!--                <span fxFlex="" class="table-item__description">Switch Topup</span>-->
      <!--              </div>-->
      <!--            </div> &lt;!&ndash; left items container &ndash;&gt;-->

      <!--            <div fxFlex="30%" fxLayout="row" fxLayoutAlign="end center"> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--              <span class="table-item_price">+ N3,000</span>-->
      <!--            </div> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--          </div> &lt;!&ndash; item container &ndash;&gt;-->
      <!--          <div fxLayout="row" fxLayoutAlign="space-between center"> &lt;!&ndash; item container &ndash;&gt;-->
      <!--            <div fxFlex="1 0 20%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%"> &lt;!&ndash; left items container &ndash;&gt;-->
      <!--              <div fxFlex="10%">-->
      <!--                <img src="assets/images/avatar.png" alt="avatar image" class="avatar">-->
      <!--              </div>-->
      <!--              <div fxFlex="40%" fxLayout="column" fxLayoutAlign="space-between stretch">-->
      <!--                <span fxFlex="" class="table-item__caption">Card</span>-->
      <!--                <span fxFlex="" class="table-item__description">Switch Topup</span>-->
      <!--              </div>-->
      <!--            </div> &lt;!&ndash; left items container &ndash;&gt;-->

      <!--            <div fxFlex="30%" fxLayout="row" fxLayoutAlign="end center"> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--              <span class="table-item_price">+ N3,000</span>-->
      <!--            </div> &lt;!&ndash; right items container &ndash;&gt;-->
      <!--          </div> &lt;!&ndash; item container &ndash;&gt;-->
      <!--        </div>-->
    </div>
    <!--    </div>-->
  </div>
</div>
