<div fxLayout="row" fxLayoutAlign="end center" class="full-width header-wrapper">
  <div fxFlex="10%" fxFlexAlign="center">
    <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
  </div>
  <div fxFlex="20%">
    Justus Ali
  </div>
</div>
