<div fxLayout="column"
     fxLayoutAlign="space-between stretch"
     fxLayoutGap="5%" class="full-width full-height px-3 dash-content__outlet">
  <div fxFlex="20%" fxFlex.lt-md
       fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start stretch">
    <div fxFlex="30%" fxFlex.lt-md>
      <h2 class="dashboard-page__title">Welcome Justus</h2>
    </div>

    <div fxFlex="25%" fxFlex.lt-md fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="start">
      <div fxLayout="column" fxLayoutAlign="center stretch" class="balance-summary">
        <span fxFlex="" class="mb-2">Cash Balance: N80,500</span>
        <div fxFlex="" fxLayout="row" fxLayoutAlign="space-between center">
          <button fxFlex="45%" mat-flat-button color="primary" (click)="openAddCashModal()">Add Cash</button>
          <button fxFlex="45%" mat-stroked-button color="primary">Cash Out</button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="50%" fxFlex.lt-md fxLayout="row" fxLayoutAlign="center stretch" class="">
    <div fxFlex fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" class="target-figure text-center pt-3">
      N80,500
    </div>
  </div>

  <div fxFlex="30%" fxFlex.lt-md fxLayout="row" fxLayoutAlign="space-around end">
    <div fxFlex="40%">
      <button mat-button class="action-button py-1">Request</button>
    </div>
    <div fxFlex="40%">
      <button mat-button class="action-button py-1">Pay</button>
    </div>
  </div>
</div>
