$primary: #399ad7;

* {
  font-family: 'Gilroy', sans-serif;
}

.balance-summary {
  border: 1px solid rgba(60, 60, 60, .2);
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
}

.target-figure {
  font-size: 6rem;
  font-weight: 800;
}

.action-button {
  width: 100%;
  border-radius: 25px;
  color: white;
  background-color: $primary;
}

@media screen and (max-width: 599px) {
  .dash-content__outlet {
    overflow-y: hidden;
  }
  .target-figure {
    font-size: 3rem;
    font-weight: 700;
  }
}
