$primary: #399ad7;
:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

.balance-summary {
  border: 1px solid rgba(60, 60, 60, .2);
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  //width: 100%;
}

.search-field {
  width: 150px;
  margin-right: 1.5rem;
}

.text-field {
  min-width: 200px;
  margin-right: 1.5rem;
}

.download-statement__button {
  width: 130px;
  border: $primary solid 2px;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 10px;
}

.download-statement__button_hover {
  border: $primary solid 2px;
}
.table-item {
  margin-bottom: 10px;
}

.table-item__caption {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(20, 20, 20, .6);
}

.table-item__description {
  font-size: 0.9rem;
  font-weight: 300;
}

@media screen and (max-width: 599px) {
  .balance-summary {
    width: auto;
  }
  .search-field, .text-field {
    width: 80%;
    margin: 0 0 5px 0;
  }
}
