$primary: #399ad7;

.form-wrapper {
  width: 400px;

  .form-field-caption {
    font-size: 1.5rem;
  }

  .action-button {
    width: 100%;
    border-radius: 25px;
    color: white;
    background-color: $primary;
  }

  .go-back {
    color: $primary;
  }

  .error {
    color: red;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 599px) {
  .form-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
