<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutAlign.lt-md="start stretch" class="form-wrapper">
  <h2 fxFlex="" class="form-field-caption full-width">{{caption}} <span *ngIf="additionalText">{{additionalText}}</span></h2>

  <mat-form-field fxFlex="" appearance="outline" class="full-width">
    <mat-label>{{formInputLabel | titlecase}}</mat-label>
    <input matInput [type]="inputType" required #inputField>
    <span *ngIf="error$ | async as error" class="error">{{error}}</span>
  </mat-form-field>

  <div fxFlex="">
    <button mat-button class="action-button py-2" (click)="continue(inputField)">
      {{buttonText | titlecase}}
    </button>
  </div>

  <div fxFlex [hidden]="prevButtonHidden" fxLayout="row" fxLayoutAlign="center">
    <button mat-button class="go-back" (click)="stepBack(inputField)">Go back</button>
  </div>

</div>
