<app-navbar-mobile fxHide.gt-sm (toggleState)="toggleSideNav($event)"></app-navbar-mobile>
<mat-sidenav-container>
  <mat-sidenav #sidenav fxHide.gt-xs class="background-dim">
    <app-sidenav [sideNavRef]="sidenav"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
