$primary: #399ad7;

#container-abs {
  margin: 0 auto;
}

.nav-bar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5rem;
  z-index: 100;
}

//.nav-action-link {
//  margin: 0 3rem 0 0;
//  font-family: Gilroy;
//  font-weight: 600;
//  font-size: 1.1rem;
//  color: #fff;
//}

.nav-action-button {
  border-radius: 20px;
  background-color: $primary;
  font-weight: 500;
  font-size: 1.1rem;
  width: 120px;
  color: #ffffff;
}

@media screen and (min-width: 1660px) {
  #container-abs {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  #container-abs {
    max-width: 1090px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
  #container-abs {
    max-width: 900px;
  }
}
