<nav class="nav-bar container-fluid">
  <div id="container-abs" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="30%">
      <a routerLink="/"><img src="assets/images/Switch App black-02.png" alt="app-logo"></a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
      <button class="nav-action-button px-4"
              mat-button color="primary" (click)="goToPage(buttonLabel)">{{buttonLabel | titlecase}}
      </button>
    </div>
  </div>
</nav>
