<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="3%" class="full-height px-3 dash-content__outlet">
  <div fxFlex="0 0 10%" fxFlex.lt-md fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="30%">
      <h2 class="dashboard-page__title">Settings</h2>
    </div>
  </div>

  <div fxFlex="1 1 80%" fxFlex.lt-md
       fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="start stretch"
       fxLayoutGap="4%">
    <div fxFlex="40%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex fxLayout="column" class="dash-page__card mb-4">
        <h3 class="dash-page__card-header">Personal Information</h3>
        <div><img src="assets/images/user-avatar.png" alt="user avatar" class="profile-bg__avatar"></div>
        <div class="mt-4">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Handle</mat-label>
            <input matInput type="text" value="@Dgifted">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput type="text" value="Justus">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" value="Okwuchukwu">
          </mat-form-field>
        </div>
        <div>
          <a mat-button color="primary">Delete my account</a>
        </div>
      </div>

      <div fxFlex fxLayout="column" class="dash-page__card">
        <h3 class="dash-page__card-header">Notifications</h3>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="dash-notification__item">
          <div fxFlex="50%" fxLayoutAlign="start">
            <span class="dash-notification__item-caption">
              Make a payment
            </span>
          </div>
          <div fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="dash-notification__item-icon">mail</mat-icon>
            <mat-icon class="dash-notification__item-icon">phone_android_rounded</mat-icon>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="dash-notification__item">
          <div fxFlex="50%" fxLayoutAlign="start">
            <span class="dash-notification__item-caption">
              Receive payment
            </span>
          </div>
          <div fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="dash-notification__item-icon">mail</mat-icon>
            <mat-icon class="dash-notification__item-icon">phone_android_rounded</mat-icon>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="dash-notification__item">
          <div fxFlex="50%" fxLayoutAlign="start">
            <span class="dash-notification__item-caption">
              Request payment
            </span>
          </div>
          <div fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="dash-notification__item-icon">mail</mat-icon>
            <mat-icon class="dash-notification__item-icon">phone_android_rounded</mat-icon>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="dash-notification__item">
          <div fxFlex="50%" fxLayoutAlign="start">
            <span class="dash-notification__item-caption">
              Unsuccessful payment
            </span>
          </div>
          <div fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="dash-notification__item-icon">mail</mat-icon>
            <mat-icon class="dash-notification__item-icon">phone_android_rounded</mat-icon>
          </div>
        </div>
      </div>
      <div fxFlex class="mb-5" fxHide.lt-md>&nbsp;</div>
    </div>

    <div fxFlex="40%" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex fxLayout="column" class="dash-page__card mb-4">
        <h3 class="dash-page__card-header">Privacy &amp; Security</h3>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" value="contact@justusali.me">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" value="2348067888800">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>BVN</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" value="password">
            <mat-icon matSuffix color="primary" class="form-icon-button">edit</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Transaction PIN</mat-label>
            <input matInput type="password" value="1234">
            <mat-icon matSuffix color="primary" class="form-icon-button">edit</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="column" class="dash-page__card">
        <h3 class="dash-page__card-header">Bank &amp; Card Information</h3>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="full-width dash-bank-detail__item">
          <div fxFlex="60%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.lt-md="5%">
            <div fxFlex="20%"><img src="assets/images/gt-bank.png" class="img-fluid img-thumbnail"></div>
            <div fxFlex="70%" class="dash-bank-detail__item-description">Debit Card</div>
          </div>
          <div fxFlex="40%" fxLayout="row" fxLayoutAlign="end">
            <span class="dash-bank-detail__item-card-number">5966 **** **** ****</span>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="full-width dash-bank-detail__item">
          <div fxFlex="60%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.lt-md="5%">
            <div fxFlex="20%"><img src="assets/images/gt-bank.png" class="img-fluid img-thumbnail"></div>
            <div fxFlex="70%" class="dash-bank-detail__item-description">Guarantee Trust Bank</div>
          </div>
          <div fxFlex="40%" fxLayout="row" fxLayoutAlign="end">
            <button mat-button color="primary">Remove bank</button>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="full-width dash-bank-detail__item">
          <div fxFlex="90%" fxLayout="row" fxLayoutAlign="start center">
            <button mat-stroked-button class="dash-bank-detail__item-add-button">
              <mat-icon>add_box_outlined</mat-icon> <span>Add a new debit card</span>
            </button>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="full-width dash-bank-detail__item">
          <div fxFlex="90%" fxLayout="row" fxLayoutAlign="start center">
            <button mat-stroked-button class="dash-bank-detail__item-add-button">
              <mat-icon>add_box_outlined</mat-icon> <span>Add a new bank account</span>
            </button>
          </div>
        </div>
      </div>
      <div fxFlex="0 0 2%" fxHide fxShow.lt-md class="mb-3">&nbsp;</div>
    </div>
  </div>
</div>
