<app-navbar fxHide.lt-md></app-navbar>

<app-hero></app-hero>

<section fxLayout="column" fxLayoutAlign="start stretch" class="intro">
  <div fxFlex class="intro-quote mb-5">
    <h2>Reliable, faster payments</h2>
    <p>Nobody enjoys queuing, whether it’s at the bank, supermarket or even the bus station.
      There should be a seamless process to making payment for a product or services.
    </p>
  </div>

  <div fxFlex fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="start stretch"
       fxLayoutGap="5%" fxLayoutGap.lt-md="20px"
       class="intro-illustration mb-5">
    <div fxFlex="40%" fxFlex.lt-md="" class="mb-4">
      <img src="assets/images/Rectangle 1934.png" alt="illustration" class="img-fluid">
    </div>

    <div fxFlex="55%" fxFlex.lt-md="" fxLayout="column" fxLayoutAlign="space-between">
      <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap.lt-md="5%">
        <div fxFlex="15%">
          <img src="assets/images/Online Shoping.svg" alt="online shopping" class="img-fluid">
        </div>
        <div fxFlex="80%">
          <h3 class="point-header">Payments</h3>
          <p class="point-description">Send and receive money with anyone, make donation to an important cause, or tip
            professionals.
            Just enter an handle, phone number or scan their QR Code to pay.
          </p>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap.lt-md="5%">
        <div fxFlex="15%">
          <img src="assets/images/Group 2634.svg" alt="banking" class="img-fluid">
        </div>
        <div fxFlex="80%">
          <h3 class="point-header">Banking</h3>
          <p class="point-description">Receive your paycheck, top up using Bank Transfer or
            Debit card, cash out at any point in time.
          </p>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap.lt-md="5%">
        <div fxFlex="15%">
          <img src="assets/images/Protection.svg" alt="protection" class="img-fluid">
        </div>
        <div fxFlex="80%">
          <h3 class="point-header">Secured Transactions</h3>
          <p class="point-description">The process of payment have changed; more recently people are moving
            from cash payment to cashless payment. Switch App ensure a smooth and secure payment process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section fxLayout="column" fxLayoutAlign="start stretch" class="how-it-works" [attr.id]="'how_it_works'">
  <div fxFlex class="how-it-works-quote mb-5">
    <h2>Get to know how it works</h2>
    <p>Switch Provides the most reliable way to make payment, faster and easier.</p>
  </div>

  <div fxFlex fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="start stretch"
       fxLayoutGap="3%" fxLayoutGap.lt-md="40%"
       class="how-it-works-illustration mb-5 pb-5">
    <div fxFlex="30%" fxFlex.lt-md fxLayout="column"
         fxLayoutAlign="start stretch"
         class="illustration-card">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutAlign.lt-md="start center" fxLayoutGap="3%" class="mx-2">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622.svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>Access Switch App</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-4 pb-4 pt-2">
        <p>Get started by signing up online, click the Sign Up button and fill out some basic
          information about yourself. We’ll ask you for your mobile number, first and last name,
          date of birth and residential address. You’ll complete some verifications.</p>
      </div>

      <div class="first">
        <img src="assets/images/Image 30.png" class="">
      </div>
    </div>

    <div fxFlex="30%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch" class="illustration-card">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" class="mx-2">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622 (1).svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>Add cash to your Switch App</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-4 pb-4 pt-2">
        <p>After Signing Up, add some cash to your Switch App. You’ll be required to add cash either by Bank Transfer or
          your Debit card.</p>
      </div>

      <div class="second">
        <img src="assets/images/Image 33.png" class="">
      </div>
    </div>

    <div fxFlex="30%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch" class="illustration-card">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" class="mx-2">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622 (2).svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>You’re ready to go</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-4 pb-4 pt-2">
        <p>Now you can make Payments, Transfer and Request money from your friends and family.</p>
      </div>

      <div class="third">
        <img src="assets/images/Image 32.png" class="">
      </div>
    </div>
  </div>
</section>

<section fxLayout="row" fxLayout.lt-md="column"
         fxLayoutAlign="space-between stretch"  fxLayoutAlign.lt-md="start stretch"
         fxLayoutGap="10%"
         class="get-app">
  <div fxFlex="45%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="space-between start">
    <div fxFlex class="get-app-caption">
      <h2>Get the Switch App today</h2>
      <p>Make payments, transfer and request money anytime. <br fxHide.lt-md>Download the Switch App on App Store and Google
        Playstore.</p>
    </div>

    <div fxFlex fxHide.lt-md fxLayout="column" fxLayoutAlign="center start" class="app-store-links mb-4">
      <span fxFlex>
        <img src="assets/images/Image 2.png" alt="Google Playstore link">
      </span>

      <span fxFlex>
        <img src="assets/images/Image 34.png" alt="Google Playstore link">
      </span>
    </div>

    <div fxFlex  fxHide.lt-md>
      <p><b>Get link via QR-code</b></p>
    </div>
  </div>

  <div fxFlex="45%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="center start">
    <div fxFlex>
      <img src="assets/images/Image 41.png" class="img-fluid">
    </div>
  </div>

  <div fxFlex fxHide fxShow.lt-md fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="app-store-links mb-4">
      <span fxFlex>
        <img src="assets/images/Image 2.png" alt="Google Playstore link">
      </span>

    <span fxFlex>
        <img src="assets/images/Image 34.png" alt="Google Playstore link">
      </span>
  </div>

  <div fxFlex  fxHide fxShow.lt-md fxFlexAlign="center" class="mt-4">
    <p matRipple class="p-2"><b>Get link via QR-code</b></p>
<!--    <button mat-button>Get link via QR-code</button>-->
  </div>
</section>

<section fxLayout="column" fxLayoutAlign="start stretch" class="benefits">
  <div fxFlex class="benefits-quote mb-5">
    <h2>Benefits of Switch App</h2>
    <p>Seamless and faster payments with no charges incurred, make transfer and request money from your friends and
      families at ease, securely got you covered.</p>
  </div>

  <div fxFlex fxLayout="row" fxLayout.lt-md="column"
       fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="start stretch"
       fxLayoutGap="3%" fxLayoutGap.lt-md="10%"
       class="benefits-illustration mb-5 pb-5">
    <div fxFlex="30%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.lt-md="0" class="benefits-card px-3 py-4">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" class="">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622.svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>Simple Transfer Method</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-3 pb-4 pt-4 benefits-card__description">
        <p>GMake payments, transfers and requests the way that suits you instantly, or simply scanning the QR-code
          to make payments.</p>
      </div>
    </div>

    <div fxFlex="30%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch" class="benefits-card px-3 py-4">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" class="">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622 (1).svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>Instant Processing</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-3 pb-4 pt-4 benefits-card__description">
        <p>Transfers are sent within seconds to your recipient’s Switch Account.</p>
      </div>
    </div>

    <div fxFlex="30%" fxFlex.lt-md fxLayout="column" fxLayoutAlign="start stretch" class="benefits-card px-3 py-4">
      <div fxFlex="20%" fxFlex.lt-md="0 0 10%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" class="">
        <div fxFlex="20%">
          <img src="assets/images/Group 2622 (2).svg" class="img-fluid">
        </div>
        <div fxFlex="70%">
          <h3>No Charges</h3>
        </div>
      </div>

      <div fxFlex="80%" fxFlex.lt-md="1 1 90%" fxLayout="row" fxLayoutAlign="start start" class="px-3 pb-4 pt-4 benefits-card__description">
        <p>We incur zero charges on payments, transfer and requests. But at the point of cashing out.</p>
      </div>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="get-started">
    <button mat-button class="action-button" routerLink="/sign-up">Get Started</button>
  </div>
</section>

<app-footer fxHide.lt-md></app-footer>

<app-footer-mobile fxHide fxShow.lt-md=""></app-footer-mobile>
