$primary: #399ad7;

.intro, .how-it-works {
  width: 100%;
  padding: 0 11%;
  background-color: rgba(200, 200, 200, 0.1);
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.intro {
  margin: 4rem 0 0 0;
  background-image: url("../../../assets/images/Switch App1 black-02@2x.png");
  background-position: right;
  background-origin: padding-box;
  background-size: 60% 120%;

  * {
    font-family: 'Gilroy', sans-serif;
  }
}

.how-it-works, .benefits {
  margin: 0;
  background-image: url("../../../assets/images/Group 2647.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15rem 11%;
  object-fit: contain;

  min-height: 900px;

  * {
    font-family: 'Gilroy', sans-serif;
  }
}


.intro-quote {
  width: 40%;
  padding-top: 3rem;

  h2 {
    font-weight: 700;
    color: black;
  }

  p {
    font-weight: 400;
    color: black;
  }
}

.intro-illustration {

  .point-header {
    color: $primary;
  }

  .point-description {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.how-it-works-quote, .benefits-quote {
  width: 40%;
  padding-top: 3rem;

  h2 {
    font-weight: 700;
    color: white;
  }

  p {
    font-weight: 400;
    color: white;
  }
}

.how-it-works-illustration {

  .illustration-card {
    background-color: white;
    border-radius: 10px;
    min-height: 90vh;
    position: relative;

    h3 {
      font-weight: 600;
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: .9rem;
      font-weight: 500;
    }

    .first, .second, .third {
      position: absolute;
      height: 200px;

      img {
        width: 80%;
      }
    }

    .first {
      top: 55%;
      left: 0%;
    }

    .second {
      top: 44%;
      left: 0;
    }

    .third {
      top: 40%;
      left: 0;
    }
  }

}

.get-app {
  padding: 5rem 11%;

  .get-app-caption {
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

.benefits {
  margin-bottom: 10rem;
}

.benefits-illustration {

  .benefits-card {
    background-color: white;
    border-radius: 10px;

    h3 {
      font-weight: 600;
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: .9rem;
      font-weight: 500;
    }
  }
}

.action-button {
  border-radius: 25px;
  background-color: white;
  font-weight: 500;
  font-size: 0.9rem;
  color: $primary;
  padding: 0.5rem 2.5rem;
}

@media screen and (max-width: 425px) {
  .intro, .how-it-works {
    padding: 0 1rem;
  }
  .intro {
    background-position: center;
    background-origin: padding-box;
    background-size: cover;
  }
  .intro-quote {
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }

    p {
      width: 90%;
    }
  }
  .intro-illustration {
    .point-header {
      font-size: 1.5rem;
    }
  }
  .how-it-works, .benefits {
    background-image: url("../../../assets/images/Group 2696.svg");
    padding: 1rem;
    min-height: 400px;
  }
  .how-it-works-quote {
    width: 100%;
    margin: 3rem 0;

    h2 {
      font-size: 1.5rem;
    }

    p {
      width: 90%;
      margin-top: 1.5rem;
    }
  }
  .how-it-works-illustration {
    margin-bottom: 5rem;

    .illustration-card {
      min-height: 500px;

      .first {
        top: 44%;
        left: 5%;
      }

      .second {
        top: 32%;
        left: 5%;
      }

      .third {
        top: 28%;
        left: 5%;
      }
    }

    .illustration-card:last-child {
      margin-bottom: 5rem;
    }
  }
  .get-app {
    padding: 1rem;
    margin: 2rem 0;

    .get-app-caption {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        margin: 1.5rem 0;
        width: 90%;
      }
    }
  }

  .benefits {
    margin-bottom: 5rem;

    .benefits-quote {
      width: 100%;

      h2 {
        font-size: 1.5rem;
      }

      p {
        width: 90%;
        margin-top: 2rem
      }
    }

    .benefits-card {
      min-height: 250px;
    }
    .benefits-card__description {
      padding: 0 1rem !important;
    }

    .get-started {
      margin-bottom: 5rem;
    }
  }
}
