.app-footer-mobile {
  border-top: 1px solid rgba(45, 45, 45, .3);
  width: 100%;
  margin: 3rem auto 0 auto;
  padding: 1rem;
}
.footer-logo, .footer-link {
  //margin-left: -1rem;
}
.correction-padding {
  padding-left: 1rem;
}
