<footer fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="app-footer-mobile">
  <div fxFlex>
    <img src="assets/images/Switch App black-02.png" class="footer-logo img-fluid">
  </div>
  <div fxFlex class="correction-padding">
    <p>© 2021 Switch App - All rights reserved</p>
  </div>
  <div fxFlex fxLayout="row" class="correction-padding">
    <span><img src="assets/images/Group 2639.svg" alt="twitter-link" class="social-link mr-2"></span>
    <span><img src="assets/images/Group 2641.svg" alt="instagram link" class="social-link mr-2"></span>
    <span><img src="assets/images/Group 2642.svg" alt="facebook link" class="social-link"></span>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="footer-link">
    <button fxFlex="" mat-button>Privacy Policy</button>
    <button fxFlex="" mat-button>Cookies Policy</button>
    <button fxFlex="" mat-button>About Us</button>
  </div>
</footer>
