$primary: #399ad7;

.setup-form {
  width: 400px;

  .form-field-caption {
    font-size: 1.5rem;
  }

  .action-button {
    width: 100%;
    border-radius: 25px;
    color: white;
    background-color: $primary;
  }

  .go-back {
    color: $primary;
  }
}

@media screen and (max-width: 599px) {
  .setup-form {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    overflow-y: scroll;
    padding-top: 5rem;
  }
}
