<div fxLayout="column" fxLayoutAlign="start stretch" class="setup-form">
  <h2 fxFlex fxFlex.lt-md="0 1 20%" class="form-field-caption full-width">Set Up Your Profile</h2>

  <div fxFlex fxFlex.lt-md="1 1 80%" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" required>
    </mat-form-field>

    <div>
      <button mat-button class="action-button py-2" (click)="completedSignUp()">Continue</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-button class="go-back" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
