// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$switch-angular-primary: mat-palette($mat-indigo);
$switch-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$switch-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$switch-angular-theme: mat-light-theme((
  color: (
    primary: $switch-angular-primary,
    accent: $switch-angular-accent,
    warn: $switch-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($switch-angular-theme);

/* You can add global styles to this file, and also import other style files */
/* Fonts */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$primary: #399ad7;

html, body {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: Gilroy, "Helvetica Neue", sans-serif;
}

.action-button {
  //width: 100%;
  border-radius: 25px !important;
  color: white;
  background-color: $primary;
}

.action-button-border {
  border: 2px solid #ffffff;
  background-color: transparent;
}

.action-button-icon {

}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.dash-content__outlet {
  //min-height: 100%;
  height: 80vh;
  overflow-y: scroll;
}

//Scrollbar styles
.dash-content__outlet::-webkit-scrollbar {
  width: 10px;
}

.dash-content__outlet::-webkit-scrollbar-track {
  background-color: rgba(120, 120, 120, .1);
}

.dash-content__outlet::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 30px;
  border: 2px solid rgba(120, 120, 120, .3);
}

.dashboard-page__title {
  font-size: 1.5rem;
  font-weight: 600;
}

img.table-item__avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

img.profile-bg__avatar {
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

img.profile-sm__avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard-page__table {
  width: 80%;
  border-radius: 8px;
  border: 1px solid rgba(60, 60, 60, .2);

  .heading {
    background-color: rgba(205, 205, 205, .5);
    padding: 8px 15px;
    font-size: 1.0rem;
    color: rgba(139, 139, 139, 0.5);
    margin-bottom: 0;
  }

  .body {
    padding: 1rem;
  }
}

.dash-page__card {
  border: 1px solid rgba(60, 60, 60, .2);
  border-radius: 8px;
  padding: 0.6rem 0.9rem;

  .dash-page__card-header {
    font-size: 0.9rem;
    color: rgba(139, 139, 139, 0.8);
    margin-bottom: 1.8rem;
    text-transform: uppercase;
  }
}

.dash-notification__item {
  border-bottom: 1px solid rgba(60, 60, 60, .2);
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.dash-notification__item-caption {
  color: $primary;
  font-weight: 500;
  font-size: 1.0rem;
}

.dash-notification__item-icon {
  margin-right: 1rem;
  color: rgba(139, 139, 139, 0.5);
}

.dash-notification__item-icon:last-child {
  margin-right: 0;
  padding: 0;
}

.dash-bank-detail__item {
  margin-bottom: 1rem;
}

.dash-bank-detail__item-description {
  font-size: 1.0rem;
  font-weight: 500;
}

.dash-bank-detail__item-card-number {

}

.dash-bank-detail__item-description-panel {
  font-size: .9rem;
  font-weight: 400;
}

.dash-bank-detail__item-add-button {
  display: flex;
  width: auto !important;
  justify-content: flex-start;
  padding: 0;

  mat-icon {
    margin-right: 10px;
  }
}

.form-icon-button {
  cursor: pointer;
}

.balance-summary {
  border: 1px solid rgba(60, 60, 60, .2);
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
}

.search-field {
  width: 150px;
  margin-right: 1.5rem;
}

.text-field {
  min-width: 200px;
  margin-right: 1.5rem;
}

.download-statement__button {
  width: 130px;
  border: $primary solid 2px;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 10px;
}

.download-statement__button_hover {
  border: $primary solid 2px;
}

.table-item {
  margin-bottom: 10px;
}

.table-item__caption {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(20, 20, 20, .6);
}

.table-item__description {
  font-size: 0.9rem;
  font-weight: 300;
}

// Modal styles
.app-modal {
  width: 26vw;
  min-height: 80vh;
  position: relative;
}

.app-modal__close-button {
  position: absolute;
  top: -3%;
  right: -5%;
  cursor: pointer;
}

.app-modal__logo-wrapper {

}

.app-modal__title {
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.app-modal_option-item {
  width: 80%;
  cursor: pointer;
}

.app-modal_option-item__text {
  font-size: .9rem;
}

//End modal styles
.panel-header_thumbnail {
  margin-right: 1rem;
}

.payment-option__button {
  //border: 1px solid rgba(60, 60, 60, .2);
  border-radius: 5px;
  cursor: pointer;
}

.background-dim {
  background-color: rgba(120, 120, 120, .2);
}

.social-link {
  margin-right: 1.3rem;
}

@media screen and (max-width: 599px) {
  .dash-content__outlet {
    height: 90vh;
    padding-top: 4rem;
  }
  .dashboard-page__table {
    width: 100%;
  }
  .app-modal {
    width: 100%;
  }
  .app-modal__title {
    width: 90%;
  }
  .app-modal_option-item {
    width: 100%;
  }
}
