$primary: #399ad7;

.logo-placer {
  text-align: center;
}

.nav-link {
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0.9rem 0 0.9rem 4.5rem;

  .mat-icon {
    margin-right: 0.8rem;
  }
}

.sign-out {
  color: #ff0b56;
}

.nav-active {
  color: $primary;
  border-left: 5px solid $primary;
}
