<div fxLayout="column" fxLayoutAlign="start stretch" class="">
  <span fxFlex class="logo-placer mb-3 pt-1">
    <a routerLink="/"><img src="assets/images/Switch App black-02.png" alt="site logo"></a>
  </span>

    <a mat-button routerLink="/dashboard"
       routerLinkActive="nav-active"
       [routerLinkActiveOptions]="{exact: true}"
       class="full-width nav-link">
      <mat-icon>dashboard</mat-icon>
      <span class="mr-auto">Home</span>
    </a>
    <a mat-button routerLink="/dashboard/transactions"
       routerLinkActive="nav-active"
       [routerLinkActiveOptions]="{exact: true}"
       class="full-width nav-link">
      <mat-icon>import_export</mat-icon>
      <span class="mx-auto">Transactions</span>
    </a>
    <a mat-button routerLink="/dashboard/activities"
       routerLinkActive="nav-active"
       [routerLinkActiveOptions]="{exact: true}"
       class="full-width nav-link">
        <mat-icon>history</mat-icon>
      <span class="mx-auto">Activities</span>
    </a>
    <a mat-button routerLink="/dashboard/settings"
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="nav-active"
       class="full-width nav-link">
      <mat-icon>settings</mat-icon>
      <span class="mx-auto">Settings</span>
    </a>
    <a mat-button routerLink="/dashboard/help"
       routerLinkActive="nav-active"
       [routerLinkActiveOptions]="{exact: true}"
       class="full-width nav-link">
      <mat-icon>help_outline</mat-icon>
      <span class="mx-auto">Help</span>
    </a>
    <a mat-button (click)="signOut()" class="full-width nav-link sign-out">
      <mat-icon>logout</mat-icon>
      <span class="mx-auto">Sign Out</span>
    </a>
</div>

