.dash-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  .dash-sidebar {
    height: 100vh;
    width: 100%;
  }

  .dash-content {
    height: auto;
    width: 100%;
  }

  .dash-sidebar {
    border-right: 1px solid rgba(60, 60, 60, .2);
  }
}
