<section class="dash-container">
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="0">
    <div fxFlex="20%" fxHide.lt-md fxLayout="column" fxLayoutAlign="start stretch" class="dash-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div fxFlex="80%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0" class="">
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0" class="dash-content">
        <div fxFlex="0 0 12%" fxHide.lt-md class="full-width">
          <app-header></app-header>
        </div>

        <div fxFlex="1 1 88%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="start stretch" class="full-width py-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
