<div fxLayout="column" fxLayoutAlign="start center" class="app-modal">
  <mat-icon class="app-modal__close-button" (click)="closeModal()">close</mat-icon>
  <div class="app-modal__logo-wrapper mb-5">
    <img src="assets/images/Switch App black-02.png" alt="Switch logo">
  </div>

  <h2 class="app-modal__title mb-5">
    {{currentStage.headerText}}
  </h2>

  <ng-container *ngIf="currentStage.step === debitBankStages[0].step">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%" class="mb-5 app-modal_option-item"
         (click)="openNextStage()">
      <div fxFlex="10%" fxFlexAlign="center" class="">
        <img src="assets/images/Group 2693.svg" alt="">
      </div>
      <div fxFlex="85%"><span class="app-modal_option-item__text">Debit card or Bank account</span></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%" class="app-modal_option-item" (click)="alertMe()">
      <div fxFlex="10%" fxFlexAlign="center" class="">
        <img src="assets/images/Group 590.svg" alt="">
      </div>
      <div fxFlex="85%">Bank Transfer</div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStage.step === debitBankStages[1].step">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0" class="app-modal_option-item">
      <div fxFlex="" fxFlexAlign="center" class="full-width">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter amount</mat-label>
          <input matInput type="number">
        </mat-form-field>
      </div>
      <div fxFlex="">
        <button mat-button class="action-button py-2" (click)="openNextStage()">Continue</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStage.step === debitBankStages[2].step">
    <mat-accordion class="full-width">
      <mat-expansion-panel class="full-width mb-4 mat-elevation-z0">
        <mat-expansion-panel-header class="full-width">
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/Group 2691.svg" alt="" class="img-fluid panel-header_thumbnail">
            <span>Pay with your debit card</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutAlign="start stretch" class="full-width px-1">
          <div matRipple fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center" class="full-width mat-elevation-z1 payment-option__button mt-2 p-1">
            <div fxFlex="60%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="">
              <div fxFlex="20%"><img src="assets/images/gt-bank.png" class="img-fluid img-thumbnail"></div>
              <div fxFlex="70%" class="dash-bank-detail__item-description-panel">Debit Card</div>
            </div>
            <div fxFlex="40%" fxLayout="row" fxLayoutAlign="end">
              <span class="dash-bank-detail__item-card-number">5966 **** **** ****</span>
            </div>
          </div>

          <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center center" class="pt-5">
            <button mat-button color="primary">Use another card</button>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="full-width mat-elevation-z0">
        <mat-expansion-panel-header class="full-width">
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/Group 2692.svg" alt="" class="img-fluid panel-header_thumbnail">
            <span>Pay with your bank account</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutAlign="start stretch" class="full-width px-1">
          <div matRipple fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between start" class="full-width mat-elevation-z1 payment-option__button p-1">
            <div fxFlex="10%">
              <img src="assets/images/gt-bank.png" class="img-fluid img-thumbnail">
            </div>
            <div fxFlex="85%" fxLayout="column" fxLayoutAlign="start stretch">
              <div class="bank-detail__heading">Account Name</div>
              <div class="bank-detail__sub">Justus Okwuchukwu</div>
              <div class="mt-2 bank-detail__heading">Account Number</div>
              <div class="bank-detail__sub">0052469940</div>
            </div>
          </div>

          <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center center" class="pt-5">
            <button mat-button color="primary">Use another bank</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
